language: python
sudo: false
python:
  - '2.7.14'
  - '3.6.3'
cache:
  directories:
    - $HOME/.pyenv
    - $HOME/virtualenv/python*
    - $HOME/.cache/pip
install:
  - pip install -r requirements.txt --upgrade
  - pip install flake8 --upgrade
script:
  - flake8 .
  - python -m unittest -v test_tio